/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .lead {
    margin: 1em 0 2em 0;
}

.jumbotron input {
    height: 30px;
}

.jumbotron .btn {
    height: 40px;
    border-radius: 0 5px 5px 0;
}

.input-append .help-block {
    font-size: 14px;
}

.btn-social {
    display: inline-block;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.btn-social:hover {
    color: white;
    text-decoration: none;
}

.btn-icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.btn-text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 14px 0 10px;
    margin: 0 0 0 4px;
    border-left: 1px solid #ccc;
}

.btn-google .btn-icon {
    background: url("../img/google_icon_32.png") no-repeat scroll 10px 50% transparent;
}

.btn-facebook .btn-icon {
    background: url("../img/facebook_icon_32.png") no-repeat scroll 10px 50% transparent;
}

.btn-google {
    background-color: rgb(204, 55, 50);
}

.btn-google:hover {
    background-color: rgb(231, 75, 55);
}

.btn-facebook {
    background-color: rgb(79, 106, 163);
}

.btn-facebook:hover {
    background-color: rgb(114, 136, 181);
}

.pre-big {
    font-size: 150%;
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
.footer-push,
.footer {
  height: 60px;
}
.footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


/* end Sticky footer styles
-------------------------------------------------- */

.circles-widget .bar {
  height: 32px;
  background-color: #0088cc;
  z-index: 0;
}


.circles-widget.level-1 .bar {
  width: 19px;
}

.circles-widget.level-2 .bar {
  width: 90px;
}

.circles-widget.level-3 .bar {
  width: 175px;
}

.circles-widget.level-4 .bar {
  width: 237px;
}

.circles-widget.max-level-1 div.img {
  width: 10px;
}

.circles-widget.max-level-2 div.img {
  width: 90px;
}

.circles-widget.max-level-3 div.img {
  width: 161px;
}


.circles-widget div.img {
  background: url(/static/img/circle-bar.png) no-repeat 0 0;
  float: right;
  position: absolute;
  overflow: hidden;
  height: 32px;
  z-index: 10;
}

.circles-widget {
  margin: 0 20px;
  height: 32px;
  width: 237px;
}

.circles-widget-labels {
  height: 20px;
  margin: 0 0;
}

ul.circles-widget-labels {
  margin-left: 0;
  list-style: none;
}

ul.circles-widget-labels li {
  float: left;
  width: 70px;
  margin-left: 4px;
}

.loa-big {
  float:  right;
  width: 82px;
  height: 82px;
  border: solid 1px;
  font-size: 24px;
  font-weight: bold;
}

.loa-big div {
  text-align: center;
  margin-top: 30px;
}


div.profile-combo {
  margin-top: 40px;
}

form.form-inline div {
  display: inline-block;
}

form.form-inline div.alert {
  display: block;
}


.table-thin {
  width: 50%;
}

div.form-content {
  margin-top: 10px;
}

div.form-content button[name=verify],
div.form-content button[name=remove],
div.form-content button[name=setprimary] {
  display: none;
}

.askdialog-extra-info {
  display: none;
}


/* Postal address view styles
-------------------------------------------------- */

table.postal-addresses {
  width: 100%;
}

/* End of postal address view styles
-------------------------------------------------- */


/* Password view styles
-------------------------------------------------- */

.progress {
  width: 206px;
  margin-top: 10px;
  height: 10px;
}

.password-verdict {
  margin-left: 10px;
  font-size: 10px;
}

.reset-password-form-container .controls {
  margin-left: 220px;
}

.reset-password-form-container .control-label {
  width: 200px;
}

/* End of reset password view styles
-------------------------------------------------- */
