/* No javascript */
div#no-script {
    text-align: center;
    color: #CC3732;
}

div#content-block {
    display: none;
}
/* End no javascript */


/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .lead {
    margin: 1em 0 2em 0;
}

.jumbotron input {
    height: 30px;
}

.jumbotron .btn {
    height: 40px;
    border-radius: 0 5px 5px 0;
}

.input-group .help-block {
    font-size: 14px;
}

.btn-social {
    display: inline-block;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.btn-social:hover {
    color: white;
    text-decoration: none;
}

.btn-icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.btn-text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 14px 0 10px;
    margin: 0 0 0 4px;
    border-left: 1px solid #ccc;
}

.btn-google .btn-icon {
    background: url("../img/google_icon_32.png") no-repeat scroll 10px 50% transparent;
}

.btn-facebook .btn-icon {
    background: url("../img/facebook_icon_32.png") no-repeat scroll 10px 50% transparent;
}

.btn-google {
    background-color: rgb(204, 55, 50);
}

.btn-google:hover {
    background-color: rgb(231, 75, 55);
}

.btn-facebook {
    background-color: rgb(79, 106, 163);
}

.btn-facebook:hover {
    background-color: rgb(114, 136, 181);
}

.pre-big {
    font-size: 150%;
}

.clear-right {
    float: right;
    clear: right;
}

/* Bottom footer styles
-------------------------------------------------- */

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

.push {
  margin-top: 10px;
}

#footer {
}

#footer, .push {
  height: 3em;
}


/* end bottom footer styles
-------------------------------------------------- */

.profile-combo {
  min-height: 400px;
}

.circles-widget .bar {
  height: 32px;
  background-color: #0088cc;
  z-index: 0;
}


.circles-widget.level-1 .bar {
  width: 19px;
}

.circles-widget.level-2 .bar {
  width: 90px;
}

.circles-widget.level-3 .bar {
  width: 175px;
}

.circles-widget.level-4 .bar {
  width: 237px;
}

.circles-widget.max-level-1 div.img {
  width: 10px;
}

.circles-widget.max-level-2 div.img {
  width: 90px;
}

.circles-widget.max-level-3 div.img {
  width: 161px;
}


.circles-widget div.img {
  background: url(/static/img/circle-bar.png) no-repeat 0 0;
  float: right;
  position: absolute;
  overflow: hidden;
  height: 32px;
  z-index: 10;
}

.circles-widget {
  margin: 0 20px;
  height: 32px;
  width: 237px;
}

.circles-widget-labels {
  height: 20px;
  margin: 0 0;
}

ul.circles-widget-labels {
  margin-left: 0;
  list-style: none;
}

ul.circles-widget-labels li {
  float: left;
  width: 70px;
  margin-left: 4px;
}

.loa-big {
  float:  right;
  width: auto;
  height: 20px;
  font-size: 14px;
  text-align: center;
  padding-top: 7px;
  padding-left: 5px;
  vertical-align: middle;
}

.userinfo {
  float: right;
  width: auto;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
  margin-left: 50px;
  padding-right: 5px;
  border-right: 1px solid #ccc;
}

.masthead {
  padding-top: 10px;
}

.masthead img {
  max-width: 108px;
  max-height: 110px;
}

.nav-pills li.nav-separator {
  height: 34px;
  width: 0px;
  border-left: solid rgb(0, 136, 204) 1px;
  display: inline-block;
}

div#footer span.langselector {
  color: rgb(85, 85, 85);;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 4px;
  text-align: left;
}

div.profile-filled {
  width: 220px;
}

div.profile-filled div.title {
  font-weight: bold;
}

div.profile-combo {
  margin-top: 10px;
}

form.form-inline div {
  display: inline-block;
}

form.form-inline div.alert {
  display: block;
}

form.form-horizontal label {
  font-weight: 400;
}

form.form-horizontal .btn-primary {
  margin-left: 26%;
}

form.form-horizontal .btn-primary.wizard-next {
  margin-left: 0;
}

.table-thin {
  width: 50%;
}

.table-form .btn-link {
  padding: 0;
}

#ninsview-form label,
#mobilesview-form label,
#emailsview-form label {
  display: none;
}

div.form-content {
  margin-top: 10px;
}

.askdialog-extra-info {
  display: none;
}


/* Postal address view styles
-------------------------------------------------- */

table.postal-addresses {
  width: 100%;
}

/* End of postal address view styles
-------------------------------------------------- */


/* Password view styles
-------------------------------------------------- */

.progress {
  width: 206px;
  margin-top: 10px;
  height: 10px;
}

.password-verdict {
  margin-left: 10px;
  font-size: 10px;
}

.reset-password-form-container .controls {
  margin-left: 0px;
  display: block;
}

.reset-password-form-container .control-label {
  width: 200px;
}

div.reset-password-buttons p {
  text-align: center;
}

table.passwords {
  background-color: white;
}

#changePasswordDialog .modal-body {
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 3px;
}

#changePasswordDialog .modal-body p {
  max-width: 510px;
}

#changePasswordDialog .suggested-password, #resetPassword .suggested-password {
  background-color: #fff;
  color: #555;
  border: none;
  font-weight: bold;
  font-size: 18px;

}

#changePasswordDialog .form-actions {
  right: 10px;
  float: right;
  padding: 0;
  background: none;
  padding-right: 5px;
  margin: 5px;
}

.reset-password-form-container .form-actions {
  right: 10px;
  background: none;
  padding: 0;
  border: none;
}

.reset-password-form-container label.control-label {
    font-weight: 700;
}

.reset-password-form-container .intro {
    padding-bottom: 10px;
}

div#account-deletion-intro {
    margin-top: 35px;
}

form#start-password-change-form {
    float: left;
    margin-right: 50px;
}

/* End of reset password view styles
-------------------------------------------------- */

/* Wizard
-------------------------------------------------- */

.wizard-modal p {
    margin: 0 0 10px;
    padding: 0;
}

#wizard-ns-detail-servers, .wizard-additional-servers {
    font-size:12px;
    margin-top:10px;
    margin-left:15px;
}
#wizard-ns-detail-servers > li, .wizard-additional-servers li {
    line-height:20px;
    list-style-type:none;
}
#wizard-ns-detail-servers > li > img {
    padding-right:5px;
}

.wizard-modal .chzn-container .chzn-results {
    max-height:150px;
                        }
.wizard-addl-subsection {
    margin-bottom:40px;
}
.wizard-progress-container > .progress {
    width:135px;
}

.wizard-modal .help-inline .error {
  color: #b94a48;
}

@media only screen and (min-width: 598px) {

.wizard-body .wizard-steps {
    height:298px !important;
}

}

@media only screen and (max-width: 598px) {

div.wizard div.wizard-steps {
  display: none;
}

div.wizard div.wizard-dialog {
  width: 94% !important;
  margin-top: 15px !important;
}

div.wizard div.wizard-card-container {
  margin-left: 0px;
}

div.wizard div.wizard-content,
div.wizard div.wizard-body,
div.wizard div.wizard-cards,
div.wizard div.wizard-card-container {
  height: auto !important;
}

}

/* End of wizard
-------------------------------------------------- */

/* Spinner on buttons */

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.loading {
  opacity: 1;
}

.has-spinner.loading .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-sm.active .spinner {
    width: 13px;
}

.has-spinner.btn.loading .spinner {
    width: 16px;
}

.has-spinner.btn-lg.loading .spinner {
    width: 19px;
}

/* removing inlines */

div.position-relative {
    position: relative;
}

div.profile-filled-large {
    padding-top: 80px;
}

div.profile-filled-small {
    padding-top: 40px;
}

span.deformOrderbutton {
    padding-right: 0.4em;
    float:right;
}

span.deformClosebutton {
    padding-right: 0.4em;
}

span.deformSeqItem.form-inline div {
    display: inline-block;
    margin-right: 1em;
}

span.deformOrderbuttonActive:before {
    content:"\2195";
    margin-right: 5px;
}


/* end of removing inlines
---------------------------  */

/* End of Spinner on buttons
-------------------------------------------------- */

/* Messages */

@media only screen and (max-width: 768px) {

div.messages-wrapper {
    display: block;
    position: relative;
    left: 5px !important;
}

}
@media only screen and (min-width: 768px) {

div.messages-wrapper {
  position:absolute;
  top:70px;
  left:330px;
  height:0px;
}

}
@media only screen and (min-width: 768px) and (max-width: 992px) {

div.messages-wrapper {
  width:338px;
}

}
@media only screen and (min-width: 992px) {

div.messages-wrapper {
  width:600px;
}

}

/* custom inclusion of right, left and below tabs
   taken from http://www.bootply.com/100014 */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

@media only screen and (max-width: 768px) {

#eduid-header-loa {
    display: block;
    position: relative;
    top: 2px;
    margin-bottom: 15px;
}

#eduid-header-pills,
#eduid-header-logos {
    display: block;
    position: relative;
}

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

div#profile-menu-small {
    margin-left: -15px !important;
    margin-right: -15px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
    
}
    
@media only screen and (min-width: 768px) {

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

}

/* wizard */

button.wizard-next {
    margin-left: 0 !important;
}

div.btn-group-single {
    margin-left: 26%;
}

div.wizard-steps {
    height: 295px !important;
    width: 36%;
}

a#go-to-mobiles-tab {
    cursor: pointer;
}

/* end wizard */

p.eduid-strong {
    font-weight: 600;
}
