{% extends "templates/base.jinja2" %}

{% block nav_class_home %}active{% endblock %}


{% block contents %}
    <h1>User {{ request.matchdict.get('userid') }}</h1>
    <h2>DB status</h2>
    {% for dbname, collections in userdata.items() %}
        <h3>{{ dbname }}</h3>
        {% for collectionname, user in collections.items() %}
            <h4>Collection {{ collectionname }}</h4><br>
            {% for key, value in user.items() %}
                <strong>{{ key }}:</strong> {{ value }}<br>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    <hr>
    {% if context.workmode != "personal" %}
        <div>
            <a class="btn btn-primary" href="{{ request.referer|default("/", True) }}">Back</a>
        </div>
    {% endif %}
{% endblock %}