 <!-- The modal wizard -->
 <div class="wizard" id="{{ model }}-wizard" data-title="{{ wizard_title }}">
    <h1>{% block wizardname %}{% trans %}Confirm your identity{% endtrans %}{% endblock%}</h1>

    {% block wizard_cards %}
    <div class="wizard-card" data-cardname="nin">
      <h3>{% trans %}National identity number{% endtrans %}</h3>
      <div class="wizard-input-section">
        <p>{% trans %}Please enter your national identity number.{% endtrans %}</p>
        <div class="form-group">
          <input class="form-control" id="nin" name="nin" type="text" 
                 placeholder="yyyymmddnnnn" data-validate="validateNiN" />
        </div>
      </div>
    </div>

    <div class="wizard-card" data-cardname="mm">
      <h3>{% trans %}Confirm national identity number{% endtrans %}</h3>
      <div class="wizard-input-section">
        <p>{% trans %}Please enter your confirmation code sent to your government inbox.{% endtrans %}</p>
        <div class="form-group">
          <input class="form-control" id="mm-confirm" name="code" type="text" placeholder="Confirmation code" />
        </div>
      </div>
    </div>

    <div class="wizard-card">
      <h3>{% trans %}Finish{% endtrans %}</h3>
      <div class="wizard-input-section">
        {% trans %}<p>Congratulations, you're almost done. Please verify that the information below is correct and then click submit.</p>{% endtrans %}
      </div>
    </div>

    {% endblock %}

    <div class="wizard-error">
        <div class="alert alert-danger">
        {% block wizard_error %}
          {% trans %}
          <strong>There was a problem</strong> with your submission.
          Please correct any errors and re-submit.
          {% endtrans %}
        {% endblock %}
        </div>
    </div>

    <div class="wizard-failure">
        <div class="alert alert-danger">
        {% block wizard_failure %}
          {% trans %}
          <strong>There was a problem</strong> submitting the form.
          Please try again.
          {% endtrans %}
        {% endblock %}
        </div>
    </div>

    <div class="wizard-success">
        <div class="alert alert-success">
        {% block wizard_success %}
          {% trans %}The wizard is completed{% endtrans %}
        {% endblock %}
        </div>
        <a class="btn btn-default im-done">Done</a>
      </div>
    </div>
<div>

<!-- End of modal wizard -->

<span class="dataholder" id="basewizard-data" data-step="{{ step + 1 }}"
                                              {% if datakey is defined and datakey %}
                                                data-datakey="{{ datakey }}"
                                              {% else %}
                                                data-datakey=""
                                              {% endif %}
                                              data-model="{{ model }}"
                                              data-path="{{ path }}"
                                              data-msg_done="{{ _('Done') }}"
                                              data-msg_sending="{{ _('Sending') }}"
                                              data-msg_next="{{ _('Next') }}"
                                              data-msg_back="{{ _('Back') }}"
                                              data-msg_dismiss="{{ _('Dismiss') }}"></span>
<span class="scriptholder" data-script="basewizard"></span>
{% block wizard_extrajs %}
{% endblock %}
