<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{ _("Dashboard") }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link href="{{'eduiddashboard:static/css/bootstrap-3.2.0.min.css'|static_url}}" rel="stylesheet" media="screen">
    <link href="{{'eduiddashboard:static/css/dashboard.css'|static_url}}" rel="stylesheet" media="screen">
    <link href="{{'eduiddashboard:static/css/screen.css'|static_url}}" rel="stylesheet" media="screen">

    {% block extracss %}
    {% endblock %}

    {% block headjs %}
    {% endblock %}
  </head>
  <body>
    <div id='wrap container'>
      <header id="header" class="header">
        <div class="logo"></div>
        <nav class="navbar navbar-default" id="eduid-navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <div id="eduid-logo-small" class="logo"></div>
              </a>
              <span class="navbar-toggle collapsed" data-toggle="collapse" data-target="#eduid-menu" aria-expanded="false">
              </span>
            </div>
            <div class="collapse navbar-collapse text-center" id="eduid-menu">
              <ul  class="nav navbar-nav">
                      <!-- Menu reflects the menu on eduid.se (not yet updated) with links and title -->
                <li>
                  <a href="{{ request.registry.settings['student_link'] }}">{{ _("Student") }}</a>
                </li>
                <li>
                  <a href="{{ request.registry.settings['technicians_link'] }}">{{ _("Technicians") }}</a>
                </li>
                <li>
                  <a href="{{ request.registry.settings['staff_link'] }}">{{ _("Staff") }}</a>
                </li>
                <li>
                  <a href="{{ request.registry.settings['faq_link'] }}">{{ _("Faq") }}</a>
                </li>
              </ul>
              <div class="buttons nav navbar-nav navbar-right">
              {% if request.is_logged %}
                <div class="button log-out"><a href="{{ request.route_path('saml2-logout') }}">{{ _("Logout") }}</a></div>
              {% else %}
                <div class="button orange">
                        <!-- Link leads to signup page -->
                  <a href="{{ request.registry.settings['signup_base_url'] }}">{{ _("Sign up") }}</a>
                </div>
                  <div class="button white-border">
                        <!-- Link leads to login page -->
                    <a href="{{ request.registry.settings['personal_dashboard_base_url'] }}">{{ _("Sign in") }}</a>
                  </div>
                </div>
              {% endif %}
                    <!-- This is the same #eduid-header-loa as in previous version of the site -->
              {% block loasquare %}
                <div class="loa-big hidden-xs" id="eduid-header-loa">
                {% with loa=request.context.get_max_loa() %}
                    {% if user is defined %}
                        {{ user.get('mail') }}
                    {% endif %}
                        ({{_(loa)}})
                {% endwith %}
                </div>
              {% endblock %}
              </div>
            </div>
          </div>
        </nav>
      </header>
    
      <div class="container position-relative">

        <noscript><div id="no-script"><h3>{{ _("This Site depends on Javascript, so please enable it.") }}</h3></div></noscript>
        <div id="content-block">
          {% block title %}
          {% endblock %}
          {% block contents %}

          {% endblock %}
        </div>
      </div>
      <div class='push'></div>
    </div>

    <div id="footer">
        <div class="container">
            <p>
              &copy; SUNET 2013-2015
              <span class="pull-right">
                {% for lang,label in request.registry.settings.get('available_languages', {}).items() %}
                    <span class="langselector">
                        {% if request.locale == lang %}
                            <span>{{ label }}</span>
                        {% else %}
                            <a href="{{ request.route_path('set_language')}}?lang={{lang}}">{{ label }}</a>
                        {% endif %}
                    </span>
                {% endfor %}
              </span>
            </p>
        </div>
    </div>
    {% block extra_jsdata %}
    {% endblock %}

    <script src="{{'deform:static/scripts/jquery-2.0.3.min.js'|static_url}}"></script>
    <script src="{{'deform:static/scripts/jquery-2.0.3.min.map'|static_url}}"></script>
    <script src="{{'eduiddashboard:static/js/libs/bootstrap-3.2.0.min.js'|static_url}}"></script>
    <script src="{{'eduiddashboard:static/js/dashboard-userstatus.js'|static_url}}"></script>
    <script src="{{'eduiddashboard:static/js/libs/pwstrength-bootstrap-1.1.1.min.js'|static_url}}"></script>
    <!--[if IE]>
    <script type="text/javascript" src="{{'eduiddashboard:static/js/dashboard-base-ie.js'|static_url}}"></script>
    <![endif]-->
    <script type="text/javascript" src="{{'eduiddashboard:static/js/dashboard-base.js'|static_url}}"></script>
    <script src="{{'eduiddashboard:static/js/dashboard-mobilemenu.js'|static_url}}"></script>
    {% block extrajs %}
    {% endblock %}

  </body>
</html>
