{% macro actions_url(action_url) -%}
    <span class="hide actions-url" data-url="{{ action_url|context_route_url }}" />
{%- endmacro %}

{% macro safe_actions_url(action_url) -%}
    <span class="hide actions-url" data-url="{{ action_url|safe_context_route_url }}" />
{%- endmacro %}

<div class='{{ formname }}-form-container {% block extraformclass %}{% endblock %}'>
   {% for message in request.session.pop_flash(queue='forms') %}
     <div class="alert alert-info">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       {{ message|safe }}
     </div>
   {% endfor %}

   <div class='intro'>
   {% block form_generic_description %}
   {% endblock %}
   </div>

   {% block extra_content %}
   {% endblock %}

   {% block form_generic_form %}
   {{ form|safe }}
   {% endblock %}

   <div class="askdialog-extra-info">
   {% block askdialog_extra_info %}
   {% endblock %}
   </div>

   {% block extrajs %}
   <script>
       window.beforeSubmit = function () {};
   </script>
   {% endblock %}
</div>


