<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{ _("Dashboard") }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{'eduiddashboard:static/css/bootstrap-2.3.1.min.css'|static_url}}" rel="stylesheet" media="screen">
    <link href="{{'eduiddashboard:static/css/screen.css'|static_url}}" rel="stylesheet" media="screen">
    {% block extracss %}
    {% endblock %}

    {% block headjs %}
    {% endblock %}
  </head>
  <body>
    <div id='wrap'>
      <div class="container">
        <div class="masthead">
          {% block loasquare %}
          {% with loa=request.context.get_loa() %}
            <div class='loa-big'>
              {{ user.get('mail') }} ({{_(loa)}})
            </div>
          {% endwith %}
          {% endblock %}
          <ul class="nav nav-pills pull-right">
            <li class="{% block nav_class_home %}{% endblock %}"><a href="{{ request.route_path('home') }}">{{ _("Home") }}</a></li>
            <li class="{% block nav_class_help %}{% endblock %}"><a href="{{ request.route_path('help') }}">{{ _("Help") }}</a></li>
            <li><a href="{{ 'saml2-logout'|route_url }}">{{ _("Logout") }}</a></li>
          </ul>
          <a href="{{ request.route_path('home') }}"><img src="{{'eduiddashboard:static/img/logo_eduID_g_color.svg'|static_url}}" alt="Logotype"/></a>
          <div class="clear-right"></div>
        </div>

       <div class="messages">
       {% for message in request.session.pop_flash() %}
         <div class="alert alert-{{ message|get_flash_message_type }}">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           {{ message|get_flash_message_text }}
         </div>
       {% endfor %}
       </div>


        <div class='clearfix'></div>
          {% block title %}
          {% endblock %}
        <div class='clearfix'></div>

        {% block contents %}

        {% endblock %}
      </div>
      <div class='push'></div>
    </div>

    <div id="footer">
          <div class='container'>
            <p>&copy; SUNET 2013</p>
          </div>
    </div>

    <script src="{{'deform:static/scripts/jquery-1.7.2.min.js'|static_url}}"></script>
    <script src="{{'eduiddashboard:static/js/libs/bootstrap-2.3.1.min.js'|static_url}}"></script>
    <script src="{{'eduiddashboard:static/js/userstatus.js'|static_url}}"></script>
    <script src="{{'eduiddashboard:static/js/pwstrength.js'|static_url}}"></script>
    <script>
      if (window.messagesTimer === undefined) {
          window.messagesTimer = null;
      }

      var clearMessages = function() {
        if (window.messagesTimer) {
          window.clearTimeout(window.messagesTimer);
        }
        $('.alert').fadeOut(400, function (){
          $(this).remove();
        });
      };

      var setMessagesTimer = function () {
        window.messagesTimer = window.setTimeout(clearMessages, 10000);
      };

      window.messagesResetTimer = function (index) {
        window.clearTimeout(window.messagesTimer);
        // do a fancy effect
        window.setMessagesTimer();
        $($('.alert')[index]).animate({opacity: 0.25}, 150).delay(150).animate({opacity: 1}, 150);

      };

      $(document).ready(function () {
        $('a.null-link').click(function (e) {
            e.preventDefault();
        });
        setMessagesTimer();
      });
    </script>
    {% block extrajs %}
    {% endblock %}
    <div id="getsat-widget-6824"></div>
    <script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
    <script type="text/javascript">
      if (typeof GSFN !== "undefined") { GSFN.loadWidget(6824,{"containerId":"getsat-widget-6824"}); }
    </script>
  </body>
</html>
