

{# circles loa widget #}

    {% with loa=request.context.loa_to_int() %}
     <h4>{{ _("Level of assurance") }}</h4>
     <ul class='circles-widget-labels'>
       <li><a href='#' title="{{ _('Unconfirmed') }}" data-toggle='popover'
             data-content='{{_("On Assurance Level 1 you can do something")}}'>
           {{ _('Unconfirmed') }}</a></li>
       {% if max_loa >= 2 %}
       <li><a href='#' title="{{ _('Confirmed') }}" data-toggle='popover'
             data-content='{{ _("On Assurance Level 2 you can do something")}}'>
           {{ _('Confirmed') }}</a></li>
       {% endif %}{% if max_loa >= 3 %}
       <li><a href='#' title="{{ _('Verified') }}" data-toggle='popover'
             data-content='{{ _("On Assurance Level 3 you can do something")}}'>
           {{ _('Verified') }}</a></li>
       {% endif %}           </ul>

     <div class='circles-widget level-{{ loa }} max-level-{{ max_loa }}'>
       <div class='img'></div>
       <div class='bar'></div>
     </div>

     <div class='popover-container'>
     </div>

     <div class='level-assurance-description'>
       {% trans loa=loa %}You are in assurance level {{ loa }}{% endtrans %}
        {% if loa == max_loa %}
          {% trans %}<p>You have reached max level of assurance available for your profile</p>{% endtrans %}
        {% else %}
          {% trans %}<p>If you need to increase this level to get more permissions
          you must login with another authentication method</p>{% endtrans %}
        {% endif %}
     </div>
    {% endwith %}

{# end circles loa widget #}
