{% extends "templates/baseform.jinja2" %}

{% block form_generic_description %}
    <h4>{% trans %}Email addresses{% endtrans %}</h4>
    {% trans %}<p>Below you can add additional email addresses connected to your eduID account and also change your
    primary email address. For more information see the help section.</p>{% endtrans %}
{% endblock %}

{% block extra_content %}

  {{ safe_actions_url('emails-actions') }}

  {% if mails %}
  <table class='table table-striped table-thin table-form emails'>
    {% for mail in mails %}
    <tr class='emailrow' data-identifier="{{ loop.index0 }}">
      <td class='identifier'>{{ mail.email }}</td>
      <td>
      {% if mail.verified %}
        {% if mail.email == primary_email %}
          <span class="nobutton">{{ _('Primary') }}</span>
        {% else %}
          <input type='button' class='btn btn-link' value="{{_('Make primary')}}"
                 data-index='{{ loop.index0 }}' name='setprimary'>
        {% endif %}
      {% else %}
          <input type='button' class='btn btn-link' value="{{_('Pending confirmation')}}"
                 data-index='{{ loop.index0 }}' name='verify'>
      {% endif %}
      </td>
      <td>
        {% if mail.email != primary_email %}
          <input type='button' class='btn btn-link' value="{{_('Remove')}}"
                 data-index='{{ loop.index0 }}' name='remove'>
        {% else %}
          <span class='text-muted'>{{_('Remove')}}</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

{% endblock %}


{% block form_generic_form %}
  <div class='form-content'>
    {{ form|safe }}
  </div>
{% endblock %}
