{% extends "templates/baseform.jinja2" %}

{% block form_generic_description %}
   {% trans %}<p>These list contain all your emails registered in the
   platform. You can change your primary email selected by radio buttons.
   </p><p>Remember, if you select a not verified email as your primary
   email, your level of assurance must be decreased.</p>
   {% endtrans %}
{% endblock %}
