{% extends "templates/base.jinja2" %}

{% block loasquare %}
{% endblock %}

{% block contents %}
<div class="jumbotron eduid-notfound">

<h2>{{ _("An error happened.") }}</h2>

{% trans %}
  <p>Sorry, but the requested page is unavailable due to a server hiccup.</p>
  <p>Our engineers have been notified, please try again later.</p>
  <p>Error code 500</p>
{% endtrans %}

<p>{{ msg }}</p>

</div>
{% endblock %}
