{% extends "templates/base.jinja2" %}

{% block loasquare %}
{% endblock %}

{% block contents %}
<div class="jumbotron eduid-notfound">

<h2>{{ _("The requested page doesn't exist.") }}</h2>

{% trans %}
  <p>Sorry, but the requested page doesn't exist.</p>
  <p>Error code 404</p>
{% endtrans %}

</div>
{% endblock %}
