{% extends "templates/base.jinja2" %}

{% block nav_class_help %}active{% endblock %}

{% block contents %}
    <h3>Frequently Asked Questions about eduID</h3>
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    What is eduID?
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    The eduID service is created and operated by SUNET for the higher education in Sweden. The eduID service allows students to create an eduID account that can be used to apply for courses at Swedish Universities and University colleges and to use certain services at the University or University college where the student is accepted.
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Which email should I use to log in?
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    You can log in using any of the emails you have specified and confirmed in eduID. If you have signed up using a social application you should log in with the same email address you use to log in to that social application.
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                    Where can I update my user information and why should I complete my profile?
                </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p>After you have logged in to the eduID service you arrive at the eduID dashboard. In the dashboard you will be able to update your personal information and complete your profile.
                    The following tabs are available on the dashboard:</p>
                    <p><strong>Personal information</strong></p>
                    <p>When a user log in to a service using eduID the personal information will be sent to that service. It is however not guaranteed that the service in question will use the information sent from eduID.</p>
                    <p><strong>Confirm identity</strong></p>
                    <p>Add your national identity number in the box under the confirm identity tab to start the process to confirm your national identity number. A message will be sent to your email box at the governmental service Min myndighetspost (minmyndighetspost.se). In the message sent to you there will be a code that you can use in eduID to confirm your national identity number. This will in turn confirm your eduID.
                        Once you have confirmed your eduID you will be able to login with your eduID account on services that require a confirmed eduID, e.g. applying to University courses.</p>
                    <p><strong>Email addresses</strong></p>
                    <p>It is possible to have multiple email addresses associated to your eduID. After adding a new email address, an email with a link and a confirmation code will be sent to the given email address. Click on the link and input your code to confirm your identity. Email addresses must be confirmed before they can become primary. A user can only have one primary email address. The primary email address can be used for password resets. A primary email can not be removed.</p>
                    <p><strong>Mobile phone numbers</strong></p>
                    <p>It is possible to have multiple mobile phone numbers associated to your eduID. After adding a mobile phone number you will get a SMS with a link and a confirmation code, click on the link and input your code to confirm your mobile phone number. In coming versions of eduID it will be possible to make a password reset with the use of your primary phone number.</p>
                    <p><strong>Security</strong></p>
                    <p>On the security tab you can change your eduID password.</p>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                    What is the difference between an unconfirmed and confirmed eduID and why does it matter?
                </a>
            </div>
            <div id="collapseFive" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p>An unconfirmed or confirmed eduID indicates how certain it is that a user is who they say they are. To be able to apply for a course at a Swedish University it is important to be sure that the person applying is actually the person they say they are. The eduID service allows for a couple of different ways to confirm that the eduID a person use belongs to that person. A user can see if their eduID is confirmed or unconfirmed in the top right corner of the eduID dashboard.</p>
                    <p>An unconfirmed eduID basically means that a users e-mail account have been confirmed to belong to that user or that the user have logged in to the eduID service using a social application.
                        A confirmed eduID is basically when a user has used a strong confirmation process to confirm who they are. E.g. through displaying a photo identification at a designated eduID helpdesk or used the governmental service Min myndighetspost to verify their national identity number.</p>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                    How can I change the default language displayed in eduID?
                </a>
            </div>
            <div id="collapseSix" class="accordion-body collapse">
                <div class="accordion-inner">
                    Your default language will be based on the language setting you have in your browser. However if you want to change the default language you can do so by logging in to eduID and go to your personal information tab and choose your preferred language in the dropdown list.
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                    What is SUNET?
                </a>
            </div>
            <div id="collapseSeven" class="accordion-body collapse">
                <div class="accordion-inner">
                    SUNET is the organisation responsible for the Swedish University Computer Network and many services offered to the Swedish higher education. More information about SUNET can be found on <a href="http://www.sunet.se/" target="_blank">www.sunet.se</a>.
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
                    What is "Min myndighetspost"?
                </a>
            </div>
            <div id="collapseEight" class="accordion-body collapse">
                <div class="accordion-inner">
                    The eduID service use the governmental message service Min myndighetspost to verify a users national identification number. More information about Min myndighetspost can be found on <a href="https://minmyndighetspost.se/" target="_blank">minmyndighetspost.se</a>.
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                    Contact
                </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p>If you cannot find an answer to your questions about eduID on our help
                    page please contact eduID support using the contact details below.</p>
                    <p>Phone: +46-(0)13-495 62 30 (opening hours Monday-Friday, 9AM-4PM CET)</p>
                    <p>Email: <a href="mailto: support@eduid.se">support@eduid.se</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
