{% extends "templates/base.jinja2" %}

{% block nav_class_home %}active{% endblock %}

{% block headjs %}
<script href="{{'deform:static/scripts/deform.js'|static_url }}"></script>
<script href="{{'deform_bootstrap:static/deform_bootstrap.js'|static_url }}"></script>
{% endblock %}

{% block contents %}

  <h2>{{ _("eduID dashboard.") }}</h2>

  <div class='loa-big'>
    <div>{{ _('Level %(level)s')|format(level=request.session.get('loa', 5)) }}</div>
  </div>

  <h3>{{ _("Summary") }}</h3>

  <div class='clearfix'></div>

  <div class='row'>
    <div class='span6'>
      <h4>{{ _("Level of assurance") }}</h4>

        <ul class='circles-widget-labels'>
          <li>{{ _('Level 5') }}</li>
          <li>{{ _('Level 4') }}</li>
          <li>{{ _('Level 3') }}</li>
          <li>{{ _('Level 2') }}</li>
        </ul>
        <div class='circles-widget  level-{{ request.session.get('loa', 5) }}' >
          <img src="{{ 'eduiddashboard:static/img/circle-bar.png'|static_url }}" />
          <div class='bar'></div>
        </div>

    </div>

    <div class='span6'>
      <h4>{{ _("Profile filled") }}: {{ profile_filled }}%</h4>
      <div class="progress progress-striped active">
        <div class="bar" style="width: {{ profile_filled }}%;"></div>
      </div>
    </div>
  </div>

  <h3>{{ _("Profile") }}</h3>

  <div class='row profile-form'>
    {{ person_form.render(person)|safe }}
  </div>


  <h3>{{ _("Email") }}</h3>

  <div class='row email-form'>
    <h4>{{ _("Primary Email") }}</h4>
    <table class="table table-thin">
      <tr class='success'>
        <td>
          <a title='{{ _('Change primary email') }}'
             data-toggle='tooltip'
             href="change-primary-email">
              <i class='icon-pencil'></i>
          </a>
        </td>
        <td>
          <span class='email-read-only'>email@example.com</span>
        </td>
        <td>
          <a title='{{ _('Verified') }}'
             data-toggle='tooltip'
             href="#">
              <i class='icon-ok'></i>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <a title='{{ _('Remove this email') }}'
             data-toggle='tooltip'
             href="remove-email">
              <i class='icon-trash'></i>
          </a>
          <a title='{{ _('Edit') }}'
             data-toggle='tooltip'
             href="change-primary-email">
              <i class='icon-pencil'></i>
          </a>
        </td>
        <td>
          <span class='email-read-only'>email@example.com</span>

        </td>
        <td>
          <a title='{{ _('Verified') }}'
             data-toggle='tooltip'
             href="#">
              <i class='icon-ok'></i>
          </a>

          <form method="POST" class='form-inline inline' action='change-to-primary-email/'>
            <input type='hidden' name='email' value='email@example.com'/>
            <button class='btn btn-link'
                    title='{{ _('Change this email to your primary email') }}'
                  data-toggle='tooltip'>
              <i class='icon-arrow-up'></i>
            </button>
          </form>

        </td>
      </tr>

      <tr>
        <td>
          <a title='{{ _('Remove this email') }}'
             data-toggle='tooltip'
             href="remove-email">
              <i class='icon-trash'></i>
          </a>
          <a title='{{ _('Edit') }}'
             data-toggle='tooltip'
             href="change-primary-email">
              <i class='icon-pencil'></i>
          </a>
        </td>
        <td>
          <span class='email-read-only'>email@example.com</span>
        </td>
        <td>
          <a title='{{ _('Email not verified') }}'
             data-toggle='tooltip'
             href="change-primary-email">
            <i class='icon-remove'></i>
          </a>
        </td>
      </tr>
    </table>

  </div>

{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {
    $("a[data-toggle=tooltip]").tooltip();
});
</script>
{% endblock %}
