{% extends "templates/base.jinja2" %}

{% block nav_class_home %}active{% endblock %}

{% block headjs %}
<script href="{{'deform:static/scripts/deform.js'|static_url }}"></script>
<script href="{{'deform_bootstrap:static/deform_bootstrap.js'|static_url }}"></script>
{% endblock %}

{% block contents %}

  <h2>{{ _("eduID dashboard.") }}</h2>

  <h3>{{ _("Summary") }}</h3>

  <div class='row'>
    <div class='span6'>
      <h4>{{ _("Level of assurance") }}</h4>
        <div>
          Loa: {{ request.session.get('loa', 5) }}
        </div>

        <div class='circles-widget  level-{{ request.session.get('loa', 5) }}' >
          <img src="{{ 'eduiddashboard:static/img/circle-bar.png'|static_url }}" />
          <div class='bar'></div>
        </div>

    </div>

    <div class='span6'>
      <h4>{{ _("Profile filled") }}</h4>
      Total: {{ profile_filled }} %

    </div>
  </div>

  <h3>{{ _("Profile") }}</h3>

  <div class='row'>
    {{ form.render(person)|safe }}
  </div>

{% endblock %}
