{% extends "templates/baseform.jinja2" %}

{% block form_generic_description %}
   <h4>{% trans %}National identity number{% endtrans %}</h4>
{% endblock %}

{% block extra_content %}

  {{ safe_actions_url('nins-actions') }}


    <table class='table table-striped table-thin table-form nins'>
    {% if active_nin %}
      <tr class='ninrow' data-identifier="0">
          <td class='identifier'>{{ active_nin }}</td>
          <td><span class='nobutton'>{{_("Verified")}}</span></td>
          <td><span class='nobutton'>{{_("Active")}}</span></td>
          <td></td>
      </tr>
    {% endif %}
    {% if not_verified_nins %}
      {% for nin in not_verified_nins %}
      <tr class='ninrow' data-identifier="{{ loop.index0 }}">
          <td class='identifier'>{{ nin }}</td>
          {% if loop.last %}
          <td>
            <input type='button' class='btn btn-link' value="{{_('Pending confirmation')}}"
                 data-index='{{ loop.index0 }}' name='verify'>
          </td>
          {% else %}
          <td><span class='muted'>{{ _('Pending confirmation')}}</span></td>
          {% endif %}
          <td>
            <input type='button' class='btn btn-link' value="{{_('Remove')}}"
                 data-index='{{ loop.index0 }}' name='remove'>
          </td>
      </tr>
      {% endfor %}
    {% endif %}
    </table>


{% endblock %}


{% block form_generic_form %}
  <div class='form-content'>
    {{ form|safe }}
  </div>
{% endblock %}

{% block askdialog_extra_info %}
  {% trans nin_service_url=nin_service_url,nin_service_name=nin_service_name %}
        You can access your governmental inbox using <a href="{{nin_service_url}}">{{nin_service_name}}</a>
  {% endtrans %}
{% endblock %}

   {% block extrajs %}
   <script>
       window.beforeSubmit = function () {
           $('#ninsview-formadd').
              prop('disabled', true).
              after('<p class="nin-wait">{{_("We are verifying that the provided identity number is valid, please wait a second.")}}');
       };
   </script>
   {% endblock %}
