{% extends "templates/baseform.jinja2" %}

{% block form_generic_description %}
   <h4>{% trans %}National identity number{% endtrans %}</h4>
{% endblock %}

{% block extra_content %}

  {{ safe_actions_url('nins-actions') }}


  {% if active_nin %}
    <table class='table table-striped table-thin table-form nins'>
      <tr class='ninrow' data-identifier="{{ loop.index0 }}">
          <td class='identifier'>{{ nin }}</td>
          <td><span class='nobutton'>{{_("Verified")}}</span></td>
          <td><span class='nobutton'>{{_("Active")}}</span></td>
          <td></td>
      </tr>
    </table>
  {% else %}
    {% if not_verified_nins %}
    <table class='table table-striped table-thin table-form nins'>

      {% for nin in not_verified_nins %}
      <tr class='ninrow' data-identifier="{{ loop.index0 }}">
          <td class='identifier'>{{ nin }}</td>
          <td>
            <input type='button' class='btn btn-link' value="{{_('Pending confirmation')}}"
                 data-index='{{ loop.index0 }}' name='verify'>
          </td>
          <td>
            <input type='button' class='btn btn-link' value="{{_('Remove')}}"
                 data-index='{{ loop.index0 }}' name='remove'>
          </td>
      </tr>
      {% endfor %}
    </table>

    {% endif %}
  {% endif %}


{% endblock %}


{% block form_generic_form %}
  <div class='form-content'>
    {{ form|safe }}
  </div>
{% endblock %}

{% block askdialog_extra_info %}
  {% if proofing_link %}
     {% trans nin=proofing_link %}You can access your governmental inbox using <a href="{{nin}}">Mina meddelanden</a>{% endtrans %}
  {% endif %}
{% endblock %}
