{% extends "templates/baseform.jinja2" %}

{% block form_generic_description %}
   <h4>{% trans %}National identity number{% endtrans %}</h4>
{% endblock %}

{% block extra_content %}

  {{ safe_actions_url('nins-actions') }}

  {% if nins %}
  <table class='table table-striped table-thin table-form nins'>

    {% for nin in nins %}
    <tr class='ninrow' data-identifier="{{ loop.index0 }}">
        <td class='identifier'>{{ nin.norEduPersonNIN }}</td>
      {% if nin.verified %}
          <td><span class='nobutton'>{{_("Verified")}}</span></td>
        {%  if nin.active %}
          <td><span class='nobutton'>{{_("Active")}}</span></td>
        {% else %}
          <td></td>
        {% endif %}
      {% else %}
        <td>
          <input type='button' class='btn btn-link' value="{{_('Pending confirmation')}}"
               data-index='{{ loop.index0 }}' name='verify'>
        </td>
        <td>
          <input type='button' class='btn btn-link' value="{{_('Remove')}}"
               data-index='{{ loop.index0 }}' name='remove'>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>

  {% endif %}

{% endblock %}


{% block form_generic_form %}
  <div class='form-content'>
    {{ form|safe }}
  </div>
{% endblock %}

{% block askdialog_extra_info %}
  {% if proofing_link %}
     {% trans nin=proofing_link %}You can access to your associated inbox nin by clicking this <a href="{{nin}}">link</a>{% endtrans %}
  {% endif %}
{% endblock %}
