{% extends "templates/base.jinja2" %}

{% block title %}
  <div class='row'>
    <div class='col-md-6'>
      <h3>{{ _("Change your password") }}</h3>
    </div>
  </div>
{% endblock %}

{% block contents %}

<div id="changePasswordDialog" class="well">

    {% trans %}
      <p>You can change your current password using this form. A strong password
          has been generated for you. You can accept the generated password by clicking
          "Change password" or you can opt to choose your own password using the checkbox.</p>
    {% endtrans %}

    <div class='password-format'>
        {% trans %}
            <p>Choose a strong password. Some tips:</p>
            <ul>
	            <li>Use upper- and lowercase characters (preferably not in the beginning or end)</li>
	            <li>Add digits somewhere else than at the end of the password</li>
                <li>Add special characters, such as &#64; &#36; &#92; &#43; &#95; &#37;</li>
	            <li>Spaces are ignored</li>
            </ul>
        {% endtrans %}
    </div>

    {{ form|safe }}

</div>
{% endblock %}

{% block extra_jsdata %}
<span class="dataholder" id="password-form-dialog-data" data-entropy="{{request.registry.settings.get('password_entropy', 60)}}"
                                                        data-msg_stronger="{{ _("A stronger password is required.") }}"
                                                        data-msg_again="{{_("Type the same password again")}}"></span>

{% endblock %}

{% block extrajs %}

<script src="{{'eduiddashboard:static/js/libs/zxcvbn-async.js'|static_url}}"></script>
<script src="{{'eduiddashboard:static/js/passwords-form-dialog.js'|static_url}}"></script>

{% endblock %}
