{% extends "templates/baseform.jinja2" %}

{% block form_generic_description %}
   {% trans %}Change password{% endtrans %}
{% endblock %}

{% block extrajs %}

{{ super() }}

<script>
  $(document).ready(function () {
    var options = {};
    $(':password[name=new_password]').pwstrength(options);
  });
</script>
{% endblock %}
