{% if message %}
  <div class="fixed alert alert-{% if changed %}ok{% else %}error{% endif %}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
{% endif %}

{% trans %}
  <p>You can change your current password using this form. A strong password
      has been generated for you. You can accept the generated password by clicking
      "Change password" or you can opt to choose your own password using the checkbox.</p>
{% endtrans %}

<div class='password-format hide'>
{% trans %}
  </p>
  <p>You must enter a strong password. Some tips:</p>
  <ul>
    <li>Use upper- and lowercase numbers (preferably not in the beginning or end)</li>
    <li>Add digits somewhere else than at the end of the password</li>
    <li>Add special characters, such as @ $ / } _</li>
    <li>Spaces are ignored</li>
  </ul>
  </p>
{% endtrans %}
</div>

{{ form|safe }}

<script>
(function () {
    var password_min_entropy = {{request.registry.settings.get('password_entropy', 60)}},
        password_form_toggle = function () {
            var container = $("#changePasswordDialog");
            if (container.find("input[name=use_custom_password]").is(":checked")) {
                // Show the custom password input
                container.find("span.suggested-password").parents(".control-group").hide();
                container.find(".custom-password").parents(".control-group").fadeIn();
                container.find("div.password-format").fadeIn();
                toggle_form(false);
            }
            else {
                // Empty the custom password field
                // Show the suggested password
                container.find(".custom-password").parents(".control-group").removeClass("error").
                    hide().find("input").val("");
                container.find("div.password-format").hide();
                container.find(".help-inline .live").remove();
                container.find("span.suggested-password").parents(".control-group").fadeIn();
                container.find("button[name=save]").removeAttr('disabled');
            }
        },

        init_password_form = function () {
            $("#changePasswordDialog input[name=use_custom_password]").off("click");
            $("#changePasswordDialog input[name=use_custom_password]").click(password_form_toggle);
            password_form_toggle();
        },

        init_password_dialog = function () {
            var events;
            $("#changePassword").click(function() {
                 $('#changePasswordDialog').modal('show');
                 init_password_form();
                 $('#changePassword').trigger('password-dialog-open');
             });

            events = $._data($('body')[0], 'events')['form-submitted'];
            events = $.map(events, function (o) {
              return o.handler;
            });
            $('body').off('form-submitted');
            $('body').on('form-submitted', function () {
                $('#changePasswordDialog .alert-block').addClass('fixed');
            });

            $.each(events, function (i, o) {
                 $('body').on('form-submitted', o);
            });
        },

        toggle_form = function (status) {
            // if status is true or 1, then enable the save button
            if ($("#changePasswordDialog input[name=old_password]").val() == '') {
                status = false;
            }
            if ($("#changePasswordDialog input[name=repeated_password]").val() == '') {
                status = false;
            }
            if (status) {
                $("#changePasswordDialog button[name=save]").removeAttr('disabled');
            } else {
                $("#changePasswordDialog button[name=save]").attr('disabled', 'disabled');
            }
        },

        error_messages = function (input, messages) {
            var input_parents = input.parents(".control-group")
                  .toggleClass("error", (messages.length > 0)),
                messages_html = '';
            input_parents.find(".controls span.help-inline.errors").remove();
            if (messages.length > 0) {
                $.each(messages, function(i, message) {
                    messages_html += "<p class='error live'>" + message + "</p>";
                });

                input_parents.find(".controls").append("<span class='help-inline errors'>" + messages_html + "</span>");
            }
            toggle_form(messages.length === 0);
        },

        check_password_strength = function () {
            /* Remove spaces from the passwords */
            var password_field = $("#changePasswordDialog input[name=custom_password]"),
                password = password_field.val().split(' ').join(''),
                verdict = zxcvbn(password, ["eduid", "credential"]),
                suggested_password = $('.suggested-password').html().split(' ').join(''),
                messages = [];

            password_field.val(password);  // properly remove spaces for pwcheck

            if (password !== suggested_password &&
                  (verdict.entropy < password_min_entropy)) {
                messages.push('{{ _("A stronger password is required.") }}');
            }
            error_messages(password_field.parent(), messages);
        },

        check_repeated_password = function () {
            var password = $("#changePasswordDialog input[name=custom_password]").val(),
                repeated_password_container = $("#changePasswordDialog input[name=repeated_password]"),
                repeated_password = repeated_password_container.val(),
                messages = [];

            if (repeated_password != password) {
                messages.push('{{_("Type the same password again")}}');
            }
            error_messages(repeated_password_container, messages);
        };

    $('body').on('formready', init_password_form);

    $('body').on('form-submitted', function () {
        if ($("#changePasswordDialog input[name=use_custom_password]").is(":checked")) {
          check_password_strength();
        }
    });

    $('#changePasswordDialog input[name=custom_password]').on("change focusout keyup onpaste paste", check_password_strength);

    /* Password meter */
    var required_entropy = {{ request.registry.settings.get('password_entropy', 60) }};
    var pwbar_options = {};
    pwbar_options.ui = {
        //verdicts: ["Too weak", "Halfway", "Almost", "Strong"],
        showVerdicts: false,
        scores: [required_entropy * 0.25,
                 required_entropy * 0.5,
                 required_entropy * 0.75,
                 required_entropy],
        bootstrap2: true
    };
    pwbar_options.common = {
        zxcvbn: true,
        usernameField: 'eduid'   // make zxcvbn give negative score to the word eduID
    };
    $('#changePasswordDialog input[name=custom_password]').pwstrength(pwbar_options);

    $('#changePasswordDialog input[name=repeated_password]').on("change focusout keyup onpaste paste mouseleave", check_repeated_password);

    $(document).ready(init_password_dialog);
}());

</script>
