{% if message %}
  <div class="fixed alert alert-{% if changed %}ok{% else %}error{% endif %}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
{% endif %}

{% trans %}
  <p>You can change your current password using this form. If you accept the below
  suggested password just click "Change password". Use the checkbox to choose your
  own password.</p>
{% endtrans %}

<div class='password-format'>
{% trans %}
  <p>Your password should follow the below requirements:</p>
  <ul>
    <li>Should use numbers, letters or other symbols</li>
    <li>Not contain known words</li>
  </ul>
{% endtrans %}
</div>

{{ form|safe }}

<script>
(function () {
    var password_min_entropy = {{request.registry.settings.get('password_entropy', 60)}},
        password_form_toggle = function () {
            var container = $("#changePasswordDialog");
            if (container.find("input[name=use_custom_password]").is(":checked")) {
                // Show the custom password input
                container.find("span.suggested-password").parents(".control-group").hide();
                container.find(".custom-password").parents(".control-group").fadeIn();
                toggle_form(false);
            }
            else {
                // Empty the custom password field
                // Show the suggested password
                container.find(".custom-password").parents(".control-group").removeClass("error").
                    hide().find("input").val("");
                container.find(".help-inline .live").remove();
                container.find("span.suggested-password").parents(".control-group").fadeIn();
                container.find("button[name=save]").removeAttr('disabled');
            }
        },

        init_password_form = function () {
            $("#changePasswordDialog input[name=use_custom_password]").off("click");
            $("#changePasswordDialog input[name=use_custom_password]").click(password_form_toggle);
            password_form_toggle();
        },

        init_password_dialog = function () {
            var events;
            $("#changePassword").click(function() {
                 $('#changePasswordDialog').modal('show');
                 init_password_form();
                 $('#changePassword').trigger('password-dialog-open');
             });

            events = $._data($('body')[0], 'events')['form-submitted'];
            events = $.map(events, function (o) {
              return o.handler;
            });
            $('body').off('form-submitted');
            $('body').on('form-submitted', function () {
                $('#changePasswordDialog .alert-block').addClass('fixed');
            });

            $.each(events, function (i, o) {
                 $('body').on('form-submitted', o);
            });
        },

        text_messages = {
          repeat: '{{_("You have repeated some words.")}}',
          sequence: '{{_("Your password looks like a sequence.")}}',
          digits: '{{_("Your password has many digits.")}}',
          year: '{{_("Your password looks like a year.")}}',
          date: '{{_("Your password looks like a date.")}}',
          spatial: '{{_("Your password has characters which are very close between them in the keyboard.")}}',
          dictionary: '{{_("Your password looks like a phrase that make sense.")}}',
          bruteforce: '{{_("Your password is too weak.")}}',
        },

        toggle_form = function (status) {
            // if status is true or 1, then enable the save button
            if ($("#changePasswordDialog input[name=old_password]").val() == '') {
                status = false;
            }
            if ($("#changePasswordDialog input[name=repeated_password]").val() == '') {
                status = false;
            }
            if (status) {
                $("#changePasswordDialog button[name=save]").removeAttr('disabled');
            } else {
                $("#changePasswordDialog button[name=save]").attr('disabled', 'disabled');
            }
        },

        error_messages = function (input, messages) {
            var input_parents = input.parents(".control-group")
                  .toggleClass("error", (messages.length > 0)),
                messages_html = '';
            input_parents.find(".controls span.help-inline.errors").remove();
            if (messages.length > 0) {
                $.each(messages, function(i, message) {
                    messages_html += "<p class='error live'>" + message + "</p>";
                });

                input_parents.find(".controls").append("<span class='help-inline errors'>" + messages_html + "</span>");
            }
            toggle_form(messages.length === 0);
        },

        check_password_strength = function () {
            var password = $("#changePasswordDialog input[name=custom_password]").val().replace(' ', ''),
                veredict = zxcvbn(password, ["eduid", "credential"]),
                password_container = $("#changePasswordDialog input[name=custom_password]").parent(),
                suggested_password = $('.suggested-password').html().replace(' ', ''),
                messages = [];

            if (suggested_password !== password &&
                  (veredict.entropy < password_min_entropy)) {
                // console.debug(veredict.entropy);
                $.each(veredict.match_sequence, function (i, o) {
                    var message = text_messages[o.pattern];
                    if (messages.indexOf(message) == -1) {
                      messages.push(text_messages[o.pattern]);
                    }
                });
            }
            error_messages(password_container, messages);
        },

        check_repeated_password = function () {
            var password = $("#changePasswordDialog input[name=custom_password]").val(),
                repeated_password_container = $("#changePasswordDialog input[name=repeated_password]"),
                repeated_password = repeated_password_container.val(),
                messages = [];

            if (repeated_password != password) {
                messages.push('{{_("The both passwords does not match.")}}');
            }
            error_messages(repeated_password_container, messages);
        };


    $('body').on('formready', init_password_form);

    $('body').on('form-submitted', function () {
        if ($("#changePasswordDialog input[name=use_custom_password]").is(":checked")) {
          check_password_strength();
        }
    });

    $('#changePasswordDialog input[name=custom_password]').on("change focusout keyup onpaste paste", check_password_strength);

    $('#changePasswordDialog input[name=repeated_password]').on("change focusout keyup onpaste paste mouseleave", check_repeated_password);

    $(document).ready(init_password_dialog);
}());

</script>
