{% extends "templates/baseform.jinja2" %}

{% block form_generic_description %}
    <h4>{% trans %}Security{% endtrans %}</h4>
    {% trans %}<p>Your eduID account password can be changed below.</p>{% endtrans %}
{% endblock %}


{% block extra_content %}
  {% if authninfo %}
  <table class='table table-bordered table-form passwords'>
    <tr>
      <th>{{ _('Credential') }}</th>
      <th>{{ _('Creation date') }}</th>
      <th>{{ _('Last used') }}</th>
    </tr>
    {% for credential in authninfo %}
    <tr>
      <td class='type'>{{ credential['type'] }}</td>
      <td>{{ credential['created_ts'] }}</td>
      <td>{{ credential['success_ts'] }}</td>
    </tr>
    {% endfor %}
  </table>
 {% endif %}
  <button id="changePassword" name="changepassword" type="submit" class="btn btn-primary " value="{{ _('Change password') }}">{{ _('Change password') }}</button>
{% endblock %}

{% block form_generic_form %}

    <div id="changePasswordDialog" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 id="askDialogPrompt">
          {{ _('Change password') }}
        </h3>
      </div>
      <div class="modal-body">
          {% include "passwords-form-dialog.jinja2" %}
      </div>
    </div>

{% endblock %}
