{% extends "templates/baseform.jinja2" %}

{% block form_generic_description %}
   <h4>{% trans %}Security{% endtrans %}</h4>
{% endblock %}

{% block extrajs %}

{{ super() }}

<script>
  $(document).ready(function () {
      $("#changePassword").click(function() {
          $('#changePasswordDialog').modal('show');
      });
  });
</script>
{% endblock %}


{% block extra_content %}
  <table class='table table-bordered table-thin table-form passwords'>
    <tr>
      <th>{{ _('Credential') }}</th>
      <th>{{ _('Creation date') }}</th>
      <th>{{ _('Last used') }}</th>
    </tr>
    <tr>
      <td class='type'>{{ _('Password') }}</td>
      <td>2013/10/9</td>
      <td>?</td>
    </tr>
  </table>
{% endblock %}

{% block form_generic_form %}

    <div id="changePasswordDialog" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 id="askDialogPrompt">
          {{ _('Change password') }}
        </h3>
      </div>
      <div class="modal-body">
        {% include "eduiddashboard:templates/passwords-form-dialog.jinja2" %}
      </div>
    </div>
    <button id="changePassword" name="changepassword" type="submit" class="btn btn-primary " value="{{ _('Change password') }}">{{ _('Change password') }}</button>

{% endblock %}
