{% extends "templates/baseform.jinja2" %}

{% if confirmation_required %}
  {% block extraformclass %}permissions-confirmation-required{% endblock %}
{% endif %}

{% block form_generic_description %}
   {% trans %}Available permissions for this user{% endtrans %}
{% endblock %}


{% block extra_jsdata %}
<span class="dataholder" id="permissionsform-data" data-formname="{{ formname }}"
                                                   data-msg_confirm="{{_('Are you sure you want to save your permission changes?')}}"></span>

<span class="scriptholder" data-script="permissions"></span>

{% endblock %}
