{% extends "templates/baseform.jinja2" %}

{% block form_generic_description %}
   {% trans %}
   <p>These list contain all your postal addresses registered in the
   platform. You can change your preferred address by clicking in the radio
   buttons.</p>
   {% endtrans %}
{% endblock %}

{% block extra_content %}
  {{ actions_url('postaladdress-actions'|route_url) }}

  {% if postal_addresses %}

  <table class='table table-striped table-thin postal-addresses'>
    <thead>
      <tr>
        <th>{{_("preferred")}}</th>
        <th>{{_("type")}}</th>
        <th>{{_("address")}}</th>
        <th>{{_("locality")}}</th>
        <th>{{_("country")}}</th>
        <th>{{_("verification status")}}</th>
        <th>{{_("remove")}}</th>
      </tr>
    </thead>

    {% for address in postal_addresses %}
    <tr class='postal-addresses-row' data-identifier="{{ loop.index0 }}">
        <td>
          <input type='radio' name='setpreferred' value='{{ loop.index0 }}'
           title='{{_("Set this address as your primary postal address")}}'
           {% if address.preferred|default(False) %}checked{% endif %}/></td>

        <td class='type'>{{ address.type|address_type_text }}</td>

        <td class='address'>{{ address.address }}</td>

        <td class='locality'>{{ address.locality }}</td>

        <td class='country'>{{ address.country|country_name }}</td>

      {% if address.verified|default(False) %}
        <td><i class="icon-ok"
               title='{{_("Already verified")}}'></i></td>
      {% else %}
        <td>
          <label>
            <i class='icon-refresh' title='{{_("Resend verification")}}'></i>
            <input class='hide' type='radio' name='verify' value='{{ loop.index0 }}'>
          </label>
        </td>
      {% endif %}
        <td>
          <label>
            <i class='icon-remove' title='{{_("Remove this postal address")}}'></i>
            <input class='hide' type='radio' name='remove' value='{{ loop.index0 }}'>
          </label>
        </td>
    </tr>
    {% endfor %}
  </table>

  {% else %}
    <p>{% trans %}There is no content created. You can add first element by clicking the button below{% endtrans %}</p>
  {% endif %}

  <button type='button'
          class='btn add-new' 
          data-toggle='button'>
        <i class='icon-plus'></i>
        {{_('Add a new postal address')}}</button>
{% endblock %}

{% block form_generic_form %}
  <div class='form-content hide'>
  {{ form|safe }}
  </div>
{% endblock %}
