{% extends "templates/baseform.jinja2" %}

{% block form_generic_description %}
  {% if not contains_official_postal_address %}
    {% trans %}<p>You didn't have a official postal address, yet.
    Don't worry about that, we are going to retrive it from the Government
    Service whenever your NIN is verified</p>
    {% endtrans %}
  {% endif %}

  {% if postal_addresses %}
    {% trans %}
    <p>These list contain all your postal addresses registered in the
    platform. We use your official postal address to mail you.</p>
    {% endtrans %}
  {% endif %}
{% endblock %}

{% block extra_content %}
  {{ actions_url('postaladdress-actions') }}

  {% if postal_addresses %}

  <table class='table table-striped table-thin postal-addresses'>
    <thead>
      <tr>
        <th>{{_("type")}}</th>
        <th>{{_("address")}}</th>
        <th>{{_("locality")}}</th>
        <th>{{_("country")}}</th>
        <th>{{_("remove")}}</th>
      </tr>
    </thead>

    {% for address in postal_addresses %}
    <tr class='postal-addresses-row' data-identifier="{{ loop.index0 }}">
        <td class='type'>{{ address.type|address_type_text }}</td>

        <td class='address'>{{ address.address }}</td>

        <td class='locality'>{{ address.locality }}</td>

        <td class='country'>{{ address.country|country_name }}</td>

      {% if address.type != 'official' %}
        <td>
          <label>
            <i class='icon-remove' title='{{_("Remove this postal address")}}'></i>
            <input class='hide' type='radio' name='remove' value='{{ loop.index0 }}'>
          </label>
        </td>
      {% else %}
        <td>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>

  {% else %}
    <p>{% trans %}There is no postal address registered. You can add alternatives
        postal addresses element by clicking the button below.{% endtrans %}</p>
  {% endif %}

  <button type='button'
          class='btn add-new' 
          data-toggle='button'>
        <i class='icon-plus'></i>
        {{_('Add a new postal address')}}</button>
{% endblock %}

{% block form_generic_form %}
  <div class='form-content hide'>
  {{ form|safe }}
  </div>
{% endblock %}
