{% extends "templates/baseform.jinja2" %}

{% block form_generic_description %}
  <h4>{% trans %}Postal addresses{% endtrans %}</h4>
  {% if not contains_official_postal_address %}
    {% trans %}<p>Please enter your national identity number for automatic retrieval of your place of
        residence from the Swedish population register.</p>
    {% endtrans %}
  {% endif %}

  {% if postal_addresses %}
    {% trans %}
    <p>Be aware that your postal address from the population register
        will be used when sending letters by mail to you.</p>
    {% endtrans %}
  {% endif %}
{% endblock %}

{% block extra_content %}
  {{ actions_url('postaladdress-actions') }}

  {% if postal_addresses %}

  <table class='table table-striped table-thin postal-addresses'>
    <thead>
      <tr>
        <th>{{_("Type")}}</th>
        <th>{{_("Address")}}</th>
        <th>{{_("City")}}</th>
        <th>{{_("Country")}}</th>
        <th>{{_("Remove")}}</th>
      </tr>
    </thead>

    {% for address in postal_addresses %}
    <tr class='postal-addresses-row' data-identifier="{{ loop.index0 }}">
        <td class='type'>{{ address.type|address_type_text }}</td>

        <td class='address'>{{ address.address }}</td>

        <td class='locality'>{{ address.locality }}</td>

        <td class='country'>{{ address.country|country_name }}</td>

      {% if address.type != 'official' %}
        <td>
          <label>
            <i class='icon-remove' title='{{_("Remove postal address")}}'></i>
            <input class='hide' type='radio' name='remove' value='{{ loop.index0 }}'>
          </label>
        </td>
      {% else %}
        <td>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>

  {% else %}
    <p>{% trans %}Please add your place of residence by clicking on the button below or by adding your national
        identity number to your profile for automated retrieval from the Swedish population register.
    {% endtrans %}</p>
  {% endif %}

  <button type='button'
          class='btn add-new' 
          data-toggle='button'>
        <i class='icon-plus'></i>
        {{_('Add postal address')}}</button>
{% endblock %}

{% block form_generic_form %}
  <div class='form-content hide'>
  {{ form|safe }}
  </div>
{% endblock %}
