{% extends "templates/base.jinja2" %}

{% block nav_class_home %}active{% endblock %}


{% block contents %}
  <div class='loa-big'>
    <div>{{ _("Level") }} <span class="level">{{ request.session.get('loa', 5) }}</span></div>
  </div>

  {% if context.workmode == 'personal' %}
  <h3>{{ _("Your profile") }}</h3>
  {% else %}
  <h3>{{ _("Editing %(email)s user", email=user.get('mail')) }}</h3>
  {% endif %}

  <div class='clearfix'></div>

  <div class='row'>
    <div class='span6'>
        {% if context.workmode == 'personal' %}
          <h4>{{ _("Level of assurance") }}</h4>
          {% with loa = request.session.get('loa') %}
          <ul class='circles-widget-labels'>
            <li><a href='#' title="{{ _('Level 5') }}" data-toggle='popover'
                  data-content='{{_("This is the lower level you can reach With this loa you can edit some attributes of your profile")}}'>
                {{ _('Level 5') }}</a></li>
            {% if max_loa <= 4 %}
            <li><a href='#' title="{{ _('Level 4') }}" data-toggle='popover'
                  data-content='{{ _("With this loa you can edit some attributes of your profile")}}'>
                {{ _('Level 4') }}</a></li>
            {% endif %}{% if max_loa <= 3 %}
            <li><a href='#' title="{{ _('Level 3') }}" data-toggle='popover'
                  data-content='{{ _("With this loa you can edit some attributes of your profile")}}'>
                {{ _('Level 3') }}</a></li>
            {% endif %}{% if max_loa <= 2 %}
            <li><a href='#' title="{{ _('Level 2') }}" data-toggle='popover'
                  data-content='{{_("With this loa you can edit all attributes of your profile")}}'>
                {{ _('Level 2') }}</a></li>
            {% endif %}
          </ul>

          <div class='circles-widget level-{{ request.session.get('loa', 5) }} max-level-{{ max_loa }}'>
            <div class='img'></div>
            <div class='bar'></div>
          </div>

          <div class='popover-container'>
          </div>

          <div class='level-assurance-description'>
             {{_("You are in ") }}<span class="level">{{ loa }}</span> {{_("level")}}
             {% if loa == max_loa %}
               {% trans %}<p>This is the highest level of assurance available for your profile</p>{% endtrans %}
             {% else %}
               {% trans %}<p>If you want to increase this level to get
               more permissions you need to resolve the pending actions</p>{% endtrans %}
             {% endif %}
          </div>

          {% endwith %}
        {% endif %}

        {% if pending_actions %}
          <h4>{{_("Pending Actions")}}</h4>
          <ul class='unstyled pending-actions'>
          {% for formid, msg in pending_actions %}
            <li><a href='#{{ formid }}'>{{ _(msg) }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}

    </div>

    <div class='span6 profile-filled'>
      <h4>{{ _("Profile filled") }}: <span class="percentaje">{{ profile_filled }}%</span></h4>
      <div class="progress progress-striped">
        <div class="bar" style="width: {{ profile_filled }}%;"></div>
      </div>
    </div>
  </div>

  <div class='clear'></div>

  <div class='profile-combo tabbable tabs-left'>
    <ul class='nav nav-tabs'>
      {% for tab in tabs %}
        <li>
          {% with status = tab.status %}
            {% if status and 'icon' in status %}
              <a href='#{{tab.id}}'
                 title='{{_(status.pending_actions)}}'>
                    <i class='{{status.icon}}'></i>
                {{_(tab.label)}}
              </a>
            {% else %}
              <a href='#{{tab.id}}'>{{_(tab.label)}}</a>
            {% endif %}
          {% endwith %}
        </li>
      {% endfor %}
    </ul>

    <div class='tab-content'>
      <div class='tab-pane active'></div>
    </div>
  </div>


{% endblock %}


{% block extracss %}
    <link href="{{'deform:static/css/ui-lightness/jquery-ui-1.8.11.custom.css'|static_url}}" rel="stylesheet" media="screen">
{% endblock %}


{% block extrajs %}

<script src="{{'deform:static/scripts/jquery-ui-1.8.11.custom.min.js'|static_url}}"></script>
<script src="{{'deform:static/scripts/jquery.maskedinput-1.2.2.min.js'|static_url}}"></script>
<script src="{{'deform:static/scripts/jquery.form-3.09.js'|static_url}}"></script>

<script src="{{'deform:static/scripts/deform.js'|static_url}}"></script>
<script src="{{'deform_bootstrap:static/deform_bootstrap.js'|static_url}}"></script>

<script src="{{'eduiddashboard:static/js/tabbed-form.js'|static_url}}"></script>
<script src="{{'eduiddashboard:static/js/proofing.js'|static_url}}"></script>

<script src="{{'eduiddashboard:static/js/tablelist-form.js'|static_url}}"></script>

<script id='communication-error-template' language='text/template'>
  <div class='alert communication-error'>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{_('Warning!')}}</strong> {{_('Something goes wrong. Please, try it later.')}}
  </div>
</script>

<script>

var loa_popovers = function () {
  $('.circles-widget-labels a').popover({
    placement: 'bottom',
    trigger: 'hover'
  });
};

$(document).ready(function () {
    $("a[data-toggle=tooltip]").tooltip();
    $("button[data-toggle=tooltip]").tooltip();
    loa_popovers();

    function showStatus() {
      userstatus.renderStatus('{{ context.safe_route_url('userstatus') }}');
    }

    {% if context.workmode == 'personal' %}
      $('body').on('form-submitted action-executed', function() {
        showStatus();
      });
    {% else %}
      function statusPolling() {
        showStatus();
        window.setTimeout(statusPolling, {{ polling_timeout_for_admin }});
      }
      statusPolling();
    {% endif %}

    $('body').on('communication-error', function(){
      var message = $('#communication-error-template').text();
      $('.container div.messages').append(message);
      window.setTimeout(function () {
        $('.communication-error').fadeOut();
      }, 5*1000);
    });
});

</script>

{% endblock %}
