{% extends "templates/base.jinja2" %}

{% block nav_class_home %}active{% endblock %}

{% block title %}
  <div class='row'>
    <div class='span6'>

      {% if context.workmode == 'personal' %}
      <h3>{{ _("Profile") }}</h3>
      {% else %}
      <h3>{{ _("Editing %(email)s user", email=user.get('mail')) }}</h3>
      {% endif %}
    </div>
    <div class='span6'>

        {% if pending_actions %}
          <ul class='unstyled pending-actions' style='text-align:right;'>
          {% for formid, msg in pending_actions %}
            <li><a href='#{{ formid }}'>{{ _(msg) }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}

    </div>

  </div>
{% endblock %}


{% block contents %}

  <div class='clearfix'></div>

  <div class='profile-combo tabbable tabs-left well'>
    <ul class='nav nav-tabs'>
      {% for tab in tabs %}
        <li>
            <a href='#{{tab.id}}'>{{_(tab.label)}}</a>
        </li>
      {% endfor %}

      <div class='profile-filled' style='padding-top:80px'>
        <div class='title'>{{ _("Profile filled") }}: <span class="percentaje">{{ profile_filled }}%</span></div>
        <div class="progress progress-striped">
          <div class="bar" style="width: {{ profile_filled }}%;"></div>
        </div>
      </div>

    </ul>

    <div class='tab-content info-container'>
      <div class='tab-pane active'></div>
    </div>
  </div>

  <div id="askDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3 id="askDialogPrompt"></h3>
    </div>
    <div class="modal-body">
      <div class="info-container"></div>
      <div class="divDialogElements">
        <input class="xlarge" id="askDialogInput" name="xlInput" type="text" />
        <p>{{ _('Lost your confirmation code?')}} <a href="#" class="resend-code">{{ _('Resend confirmation code') }}</a></p>
        <p class="extra-info"></p>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="finish-button btn hide">{{ _('Finish') }}</a>
      <a href="#" class="cancel-button btn">Cancel</a>
      <a href="#" class="ok-button btn btn-primary">OK</a>
    </div>
  </div>

  <div class="openwizard hide">
  </div>

{% endblock %}


{% block extracss %}
    <link href="{{'deform:static/css/ui-lightness/jquery-ui-1.8.11.custom.css'|static_url}}" rel="stylesheet" media="screen">
    <link href="{{'eduiddashboard:static/css/bootstrap-wizard.css'|static_url}}" rel="stylesheet" media="screen">
{% endblock %}


{% block extrajs %}

<script src="{{'deform:static/scripts/jquery-ui-1.8.11.custom.min.js'|static_url}}"></script>
<script src="{{'deform:static/scripts/jquery.maskedinput-1.2.2.min.js'|static_url}}"></script>
<script src="{{'deform:static/scripts/jquery.form-3.09.js'|static_url}}"></script>

<script src="{{'deform:static/scripts/deform.js'|static_url}}"></script>
<script src="{{'deform_bootstrap:static/deform_bootstrap.js'|static_url}}"></script>

<script src="{{'deform_bootstrap:static/deform_bootstrap.js'|static_url}}"></script>

<script src="{{'eduiddashboard:static/js/tabbed-form.js'|static_url}}"></script>
<script src="{{'eduiddashboard:static/js/proofing.js'|static_url}}"></script>
<script src="{{'eduiddashboard:static/js/libs/bootstrap-wizard.js'|static_url}}"></script>

<script src="{{'eduiddashboard:static/js/eduid-wizards.js'|static_url}}"></script>
<script src="{{'eduiddashboard:static/js/tablelist-form.js'|static_url}}"></script>

<script id='communication-error-template' language='text/template'>
  <div class='alert communication-error'>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{_('Warning!')}}</strong> {{_('An error has occurred, please try again or contact support if the problem persists.')}}
  </div>
</script>

<script id='communication-error-permissions-template' language='text/template'>
  <div class='alert communication-error-permissions'>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{_('Error!')}}</strong> {{_("Permission denied")}}
  </div>
</script>

<script>

var loa_popovers = function () {
  $('.circles-widget-labels a').popover({
    placement: 'bottom',
    trigger: 'hover',
    delay: {
      show: 750,
      hide: 750
    }
  });

  $('.circles-widget-labels a').click(function (e) {
      e.preventDefault();
  });
};

$(document).ready(function () {
    $("a[data-toggle=tooltip]").tooltip();
    $("button[data-toggle=tooltip]").tooltip();
    loa_popovers();

  {% if workmode == 'personal' and open_wizard %}
    $.get( '{{ "wizard-nins" | route_url }}', function (data, textStatus, jqXHR) {
        $('div.openwizard').html(data);
    });
  {% endif %}

    function showStatus() {
      userstatus.renderStatus('{{ context.safe_route_url('userstatus') }}');
    }

    function reloadTab() {
      // reload active tab in order to refresh the HTML
      $('.nav-tabs li.active a').click();
    }

    $('body').on('form-submitted action-executed', function() {
      // move the form messages to the messages main area
      $('.alert').not($('div.messages div.alert')).not('.fixed').each(function (index) {
          var exists = false,
              message = $(this).html();
          $('.messages div.alert').each(function (index2) {
            if ($(this).html() == message) {
              exists = true;
              messagesResetTimer(index);
            }
          });
          if (!exists) {
            $(this).appendTo(".messages");
          } else {
            $(this).hide();
          }
      });

      window.setTimeout(clearMessages, 10000);
    });

    {% if context.workmode == 'personal' %}
      $('body').on('form-submitted action-executed', function() {
        showStatus();
      });

      $('body').on('action-executed', function() {
        reloadTab();
      });
    {% else %}
      function statusPolling() {
        showStatus();
        window.setTimeout(statusPolling, {{ polling_timeout_for_admin }});
      }
      statusPolling();
    {% endif %}

    $('body').on('communication-error', function(){
      var message = $('#communication-error-template').text();
      $('.container div.messages').append(message);
      window.setTimeout(function () {
        $('.communication-error').fadeOut();
      }, 5*1000);
    });

    $('body').on('communication-error-permissions', function(){
      var message = $('#communication-error-permissions-template').text();
      $('.container div.messages').append(message);
      window.setTimeout(function () {
        $('.communication-error-permissions').fadeOut();
      }, 5*1000);
    });

    $("#askDialog").bind('show', function () {
    });

    $("#askDialog").bind('shown', function () {
      $(this).find("#askDialogInput").focus();
    });

    $("#askDialog .cancel-button, #askDialog .finish-button").click( function (e) {
      e.preventDefault();
      closeAskDialog();
    });

    $("#askDialog .ok-button").click( function (e) {
      e.preventDefault();
      okAskDialog();
    });
});

function closeAskDialog() {
  $("#askDialog").modal('hide');
  $("body").trigger('action-executed');
};

function okAskDialog() {
  var input = document.getElementById("askDialogInput");
  input.askcallback(input.value);
};

function askDialog(identifier, actionsURL, prompt, defaultvalue, placeholder, askcallback) {
  var input = document.getElementById("askDialogInput");
  input.value = defaultvalue;
  input.placeholder = placeholder;
  input.askcallback = askcallback; // radical
  $("#askDialog .info-container").empty();
  $("#askDialog").find('.btn').show();
  $("#askDialog").find('.divDialogElements').show();
  $("#askDialog").find('.finish-button').hide();
  document.getElementById("askDialogPrompt").innerHTML = prompt;
  $("#askDialog .resend-code").attr('data-identifier', identifier);
  $("#askDialog .resend-code").attr('href', actionsURL);
  $("#askDialog .extra-info").html($(".askdialog-extra-info").html());
  $("#askDialog").modal("show");
};
</script>

{% endblock %}
