{% extends "templates/base.jinja2" %}

{% block loasquare %}
{% endblock %}

{% block contents %}
  <h3>{% trans %}Reset your password{% endtrans %}</h3>

  <div class="reset-password-form-container well">
  {% if reset is defined %}
      <div class="intro">
      {% if reset == True %}
      {% trans %}
          <p>Password has been updated successfully.</p>
          <p><a href="{{ url }}">Return to login page &raquo;</a></p>
      {% endtrans %}
      {% elif reset == False %}
      {% trans %}
          <p>An error has occured while updating your password,
          please try again or contact support if the problem persists.</p>
          <p><a href="{{ url }}">Request a new password reset link &raquo;</a></p>
      {% endtrans %}
      {% endif %}
      </div>
  {% else %}
      <div class="intro">
        {% trans %}
            <p>Please choose a new password for your eduID account. A strong password
                has been generated for you. You can accept the generated password by clicking
                "Change password" or you can opt to choose your own password using the checkbox.</p>
        {% endtrans %}
      </div>
      <div id="resetPassword">

        <div class="password-format hide">
            {% trans %}
                <p>Choose a strong password. Some tips:</p>
                <ul>
                    <li>Use upper- and lowercase characters (preferably not in the beginning or end)</li>
                    <li>Add digits somewhere else than at the end of the password</li>
                    <li>Add special characters, such as &#64; &#36; &#92; &#43; &#95; &#37;</li>
                    <li>Spaces are ignored</li>
                </ul>
            {% endtrans %}
        </div>

    {{ form|safe }}
    </div>
  {% endif %}
 </div>
{% endblock %}

{% block extra_jsdata %}
  <span class="dataholder" id="reset-password2-data" data-min_entropy="{{request.registry.settings.get('password_entropy', 60)}}"
                                                     data-msg_stronger="{{ _("A stronger password is required.") }}"
                                                     data-msg_again="{{_("Type the same password again")}}"
                                                     ></span>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{{'eduiddashboard:static/js/libs/zxcvbn-async.js'|static_url}}"></script>
  <script type="text/javascript" src="{{'eduiddashboard:static/js/reset-password-form2.js'|static_url}}"></script>
{% endblock %}
