{% extends "templates/base.jinja2" %}

{% block loasquare %}
{% endblock %}

{% block contents %}
  <h3>{% trans %}Reset your password{% endtrans %}</h3>

  {% if message is defined %}
    {{ _(message) }}
  {% else %}
  <div class="reset-password-form-container well">
    <div class="intro">
      <p>
        {{ _(intro_message) }}
      </p>
    </div>

    {{ form|safe }}
  </div>
    {% if mobile_step_1 is defined and mobile_step_1 %}
    <div class="well">
      <p>{% trans %}If you don't have a phone number registered with eduID, or have lost the one you had, click on the link below to
                    receive an email with a link to reset your password with no SMS.
                    If you click the link below, and have phone numbers registered with eduID, the link sent to you will take 24h to be valid,
                    your phone numbers will be unregistered,
                    and your account will become unconfirmed.{% endtrans %}</p>
      <p>
          <a href="{{ request.route_path('reset-password-email') }}" class="btn btn-danger btn-lg">{% trans %}Reset password by e-mail{% endtrans %}</a>
      </p>
    </div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{'eduiddashboard:static/js/dashboard-reset-password-form.js'|static_url}}"></script>
{% endblock %}
