{% trans verification_link=reset_password_link, site_name=site_name %}
Hi,

You recently asked to reset your password for the {{ site_name }} account: {{ email }}

To change your password, click the link below:

{{ reset_password_link }}

If clicking the link does not work you can copy and paste it into your browser.

The password reset link is valid for {{ password_reset_timeout }} hours.

{% endtrans %}

{% if has_mobile %}
{% trans %}
Since you seem to have a confirmed phone number, the reset link will only be

valid {{ password_reset_email_mobile_offset }} hours after you receive this email.
{% endtrans %}
{% endif %}

{% trans %}

(This is an automated email. Please do not reply.)
{% endtrans %}
