{% extends "templates/base.jinja2" %}

{% block loasquare %}
{% endblock %}

{% block contents %}
<h3>{% trans %}Reset your password{% endtrans %}</h3>
<div class="reset-password-form-container well">
    <div class="intro">
        <p>
            {% trans %}If an eduID account was found using your search criteria a password reset message should have
                been sent to you. Check your {{ type }} for a message from eduID,
            then click the verification link to reset your password.{% endtrans %}
        </p>
        <a href="{{ login_url }}">{{ _('Return to login page &raquo;') }}</a>
    </div>
</div>
{% endblock %}
