{% extends "templates/base.jinja2" %}

{% block loasquare %}
{% endblock %}

{% block contents %}
  <h3>{% trans %}Forgot your password?{% endtrans %}</h3>

  {% trans %}<p>The password resetting process can be done using two mechanisms: using your government mailbox service or your e-mail inbox</p>{% endtrans %}

  {% trans %}<p>We recommend using the more secure goverment mailbox service. The e-mail based reset will reset also your Assurance Level</p>{% endtrans %}

  <div class="form-actions">
    <a href="{{ request.route_path('reset-password-mina') }}" class="btn btn-success btn-large">
      {% trans %}Reset password by government mailbox service{% endtrans %}
    </a>

    <a href="{{ request.route_path('reset-password-email') }}" class="btn btn-danger btn-large"><i class="icon-warning-sign"></i>
      {% trans %}Reset password by e-mail{% endtrans %}
    </a>
  </div>

{% endblock %}
