{% extends "templates/base.jinja2" %}

{% block loasquare %}
{% endblock %}

{% block contents %}
  <h3>{% trans %}Forgot your password?{% endtrans %}</h3>
  <p>{% trans %}Password reset is possible using an email combined with SMS to your mobile device. If your mobile number is not already registered in eduID, email can be used to reset your password but your eduID account status will be reset to unconfirmed.{% endtrans %}</p>
  <p>
      {% if not enable_mm_verification %}{% trans %}Unfortunately, we have been locked out from the government mailbox service.{% endtrans %}{% endif %}
  </p>

  <div class="well reset-password-buttons">
      <p>
          {% if enable_mm_verification %}
            <a href="{{ request.route_path('reset-password-mina') }}" class="btn btn-success btn-lg">{% trans %}Reset password by government mailbox service{% endtrans %}</a>
          {% endif %}
      </p>
      <p>
          <a href="{{ request.route_path('reset-password-mobile') }}" class="btn btn-success btn-lg">{% trans %}Reset password by mobile phone number{% endtrans %}</a>
      </p>
      <p>
          <a href="{{ request.route_path('reset-password-email') }}" class="btn btn-danger btn-lg">{% trans %}Reset password by e-mail{% endtrans %}</a>
    </p>
  </div>

{% endblock %}
