{% extends "templates/base.jinja2" %}

{% block loasquare %}
{% endblock %}

{% block contents %}
  <h3>{% trans %}Forgot your password?{% endtrans %}</h3>
  {% trans %}<p>Password reset is possible using an email that you have registered on your account.</p>{% endtrans %}

  {% trans %}<p>If email is used to reset your password your eduID account status will be reset to unconfirmed. Unfortunately, we have been locked out from ”Mina Meddelanden”. We are currently working on other methods for password reset, that will be able to use without resetting the account status to unconfirmed.</p>{% endtrans %}

  <div class="well reset-password-buttons">
      <p>
          <button id="buttonNoMM" class="btn btn-primary btn-lg">{% trans %}Reset password by government mailbox service{% endtrans %}</button></p>
      <p>
      <a href="{{ request.route_path('reset-password-email') }}" class="btn btn-danger btn-lg">
      {% trans %}Reset password by e-mail{% endtrans %}
      </a>
    </p>
  </div>

{% endblock %}

{% block extra_jsdata %}
    <span class="dataholder" id="disabled_mm" data-title="{{ _("Mina Meddelanden disabled") }}" data-content="{{ _("For the time being Skatteverket has disabled Vetenskapsrådet/SUNET/eduID from using Mina Meddelanden due to pressure from SWEDBANK. For more information:")}} <a href='https://www.sunet.se/sunet-mina-meddelanden/'>{{ _("Vetenskapsrådet's press release") }}</a>"></span>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{'eduiddashboard:static/js/dashboard-no-mm-reset-password.js'|static_url}}"></script>
{% endblock %}
