{% extends "templates/base.jinja2" %}

{% block loasquare %}
{% endblock %}

{% block contents %}
  <h3>{% trans %}Reset your password{% endtrans %}</h3>

  {% if message is defined %}
    {{ _(message) }}
  {% else %}
    <div class="reset-password-form-container well">
      <div class="intro">
        <p>
          {{ _(intro_message) }}
        </p>
      </div>

    {{ form|safe }}
  </div>
  {% endif %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{'eduiddashboard:static/js/reset-password-form.js'|static_url}}"></script>
{% endblock %}
