{% extends "templates/base.jinja2" %}

{% block loasquare %}
{% endblock %}

{% block contents %}
<h3>{% trans %}Invalid password reset link{% endtrans %}</h3>
<div class="reset-password-form-container well">
    <div class="intro">
        <p>
            {% trans %}The password reset link you have used is invalid or has expired.
                Please click the link below to request a new link.{% endtrans %}
        </p>
        <a href="{{ request.route_path('reset-password') }}">{{ _('Request a new password reset link &raquo;') }}</a>
    </div>
</div>
{% endblock %}
