{% trans reset_password_link=reset_password_link, site_name=site_name %}
<p>Hi,</p>
<p>You recently asked to reset your password for the {{ site_name }} account: {{ email }}</p>
<p>To change your password, click the link below:</p>
<p><a href="{{ reset_password_link }}">{{ reset_password_link }}</a></p>
<p>If clicking the link does not work you can copy and paste it into your browser.</p>
<p>The password reset link is valid for {{ password_reset_timeout }} hours.</p>
<p>(This is an automated email. Please do not reply.)</p>
{% endtrans %}
