{% trans verification_link=reset_password_link, site_url=site_url, site_name=site_name %}
Forgot your password, {{ given_name }}

We send you an email with a verification link because you has
registered at {{ site_name }} {{ site_url }}.

Please, click on the follow link to verificate your email account.

{{ reset_password_link }}
{% endtrans %}
