{% extends "templates/base.jinja2" %}

{% block loasquare %}
{% endblock %}

{% block contents %}
<h3>{% trans %}Password reset link not yet valid{% endtrans %}</h3>
<div class="reset-password-form-container well">
    <div class="intro">
        <p>
            {% trans %}The password reset link you have used is still invalid.
            You have to wait for {{wait}} hours before it becomes valid.{% endtrans %}
        </p>
    </div>
</div>
{% endblock %}
