{% trans reset_password_link=reset_password_link, site_url=site_url, site_name=site_name %}
<h2>Forgot your password, {{ given_name }}?</h2>

<p><a href="{{ site_url }}">{{ site_name }}</a> received a request for reseting your password for your {{ email }} account.</p>

<p>To reset your password, click in the following link:</p>

<a href="{{ reset_password_link }}">{{ reset_password_link }}</a>

<p>If you still remember your password or you didn't request its reset, you can safely delete this email.</p>

{% endtrans %}
