{% extends "templates/base.jinja2" %}

{% block loasquare %}
{% endblock %}

{% block contents %}
  <h3>{% trans %}Invalid code for resetting your password{% endtrans %}</h3>

  <p>{% trans %}The code you are using is invalid. It may be that it has expired, or that it has already been used, or perhaps it is simply incorrect.{% endtrans %}</p>

  <p>{% trans %}If you still want to reset your password, please initiate the proccess afresh.{% endtrans %}</p>

  <div class="well reset-password-buttons">
    <p>
      <a href="{{ request.route_path('reset-password-mina') }}" class="btn btn-success btn-large">
      {% trans %}Reset password by government mailbox service{% endtrans %}
      </a>
    </p>

    <p>
      <a href="{{ request.route_path('reset-password-email') }}" class="btn btn-danger btn-large"><i class="icon-warning-sign"></i>
      {% trans %}Reset password by e-mail{% endtrans %}
      </a>
    </p>
  </div>

{% endblock %}

