{% extends "templates/base.jinja2" %}

{% block loasquare %}
{% endblock %}

{% block contents %}
  <div class='reset-password-form-container'>
    <div class='intro'>
    {{ _(intro_message) }}
    </div>

    {{ form|safe }}
  </div>
{% endblock %}
