{% trans %}
Hello {{displayName}}:
  
Your eduID account has been terminated.

If it wasn't you who deleted your account, contact
eduID support immediately at {{mail}}.

Thank you for using our services
{% endtrans %}
