<html>
<head>
</head>
<body>
{% trans %}
<p>Hello {{displayName}}:</p>
  
<p>Your eduID account has been terminated.</p>

<p>If it wasn't you who deleted your account, contact
eduID support immediately at

  <a href="mailto:{{support_mail}}">{{support_mail}}</a>.

</p>

<p>Thank you for using our services</p>
{% endtrans %}
</body>
</html>
