{% trans verification_link=verification_link, site_url=site_url, site_name=site_name %}
Welcome to {{ site_name }},

We send you an email with a verification link because you has
registered at {{ site_name }} {{ site_url }}.

Please, click on the follow link to verificate your email account.

{{ verification_link }}

If the link doesn't, maybe your mail client has cut it. Then, you should
go to your profile, go to the emails section, click on the verification icon
next to the email you want to validate and insert the follow code:

{{ code }}

{% endtrans %}
