{% trans verification_link=verification_link, site_url=site_url, site_name=site_name %}
Welcome to {{ site_name }},

We send you an email with a verification link because you has
registered at {{ site_name }} {{ site_url }}.

Please, click on the follow link to verificate your email account.

{{ verification_link }}
{% endtrans %}
