<html>
<head>
</head>
<body>
{% trans verification_link=verification_link, site_url=site_url, site_name=site_name %}
<p>Thank you for registering with <a href="{{ site_url }}">{{ site_name }}</a>.</p>

<p>To confirm that you own this email address, simply click on the following link:

<a href="{{ verification_link }}">{{ verification_link }}</a></p>

<p>If clicking on the link above does not work, go to your profile and emails section. Click on the
confirmation icon and enter the following code:</p>

<p><strong>{{ code }}</strong></p>

{% endtrans %}
</body>
</html>
