{% extends "templates/base.jinja2" %}

{% block contents %}

<h1>{{ _("Where are you from?") }}</h1>

<p>{% trans %}Please select your <strong>Identity Provider</strong> from the following list:{% endtrans %}</p>
<ul class="unstyled">
  {% for url, name in available_idps %}
  <li><a href="{{ login_url }}?idp={{ url }}{% if came_from is defined %}&next={{ came_from }}{% endif %}">{{ name }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
